@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import '~bootstrap';

html {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px 0;
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  font-family: 'Montserrat', 'sans-serif';
}

#app {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap {
  flex: 1;
}

.form-control[readonly] {
  background-color: inherit;
}